#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.container {
    display: flex;
    flex-flow: column;
    gap: 7vh;
    width: 430px;
    align-items: center;
}

hr {
    margin: 0;
    width: 150%;
    border-bottom: 0;
    border-top: 1px;
    border-color: rgb(0, 0, 0);
    border-style: groove;
}

input#timer {
    margin: 0.3em;
}

.highlighted {
    background-color: #4fd658;
}

.counter-container {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;

}

.border-box {
    border: 1px solid #4fd658;
    padding: 5px;
    min-width: 400px;
}

.border-box button {
    margin-bottom: 10px;
}

.border-box p {
    margin: 25px;
}

.border-box .second {
    background-color: #2c2c2c;
}

.border-box .third {
    background-color: #343434;
}

button.btn-class:hover {
    border-color: #d364ff;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}
